@keyframes initialize {
    from {opacity: 0;}
    to {opacity: 1;}
}
#content-tabbed-border {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    overflow-y: visible;
    position: relative;
}
#content-tabbed-inner {
    height: 100%;
    width: calc(100%-20px);
    padding: 0px;
    box-sizing: content-box;
    margin: 0;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    /* background: top left / 85% no-repeat url(./home_bg.png), #aad0e9; */
    /* background-blend-mode: overlay; */
}
#content-tabbed-border::before {
    content: "";
    position: absolute;
    margin-right: 20px;
    width: 20px;
    height: 3px;
    background: black;
    left: 0;
    z-index: 1000;
    transform: translate(-1px, -4px)
}
#top-plus-section {
    position: absolute;
    
    z-index: 3;
}
.plus-line {
    color: #ef3e23;
    font-size: 1.3em;
    display: grid;
    grid-template-columns: 80px 200px auto;
    padding-left: 10px;
}
.plus-line span {
    transition: 0.3s;
}
.plus-line span:hover {
    text-shadow: 0px 0px 3px #ef3e23;
}
#home-background-model {
    position: absolute;
    margin-left: -10px;
    margin-top: -10px;
}
#home-clutter-texture-wrapper {
    position: absolute;
    width: 95%;
    padding-left: 10px;
    z-index: 2;
    pointer-events: none;
}
#home-clutter-texture1 {
    width: 85%;
    display: grid;
    height: 175px;
    justify-items: end;
    padding: 0px;
    /* background: green; */
}
#home-clutter-texture1 > div {
    height: 175px;
}
#home-clutter-texture1 svg {
    align-self: center;
    transition: 0.3s;
}
#home-clutter-texture1 svg:hover {
    stroke: red;
}
#home-text-wrapper {
    top: 170px;
    position: absolute;
    width: 95%;
    padding-left: 10px;
    z-index: 3;
}
.phase-head-section {
    margin-top: 10px;
    margin-bottom: -7px;
    width: max-content;
    display: grid;
    grid-template-columns: 160px auto;
    align-items: top;
}
.phase-word {
    transition: 0.3s;
}
.phase-word:hover {
    text-shadow: 0px 0px 3px #ef3e23;
}
.phase {
    color: #ef3e23;
    font-size: 2em;
}
.phase-text {
    /* 400 = light */
    font-weight: 400;
}
.phase-num {
    /* 600 = medium */
    font-weight: 600;
}
.phase-superscript {
    /* 500 = roman */
    font-weight: 500;
    margin-top: 7px;
    font-size: 0.7em;
    color: white;
    transition: 0.3s;
}
.phase-superscript:hover {
    text-shadow: 0px 0px 6px white;
}
.phase-title {
    /* 900 = black */
    font-weight: 900 !important;
}
.home-body-text {
    /* 600 = medium */
    font-weight: 600;
    color: rgba(0,0,0,0.5);
    margin: 0;
    font-size: 0.8em;
    line-height: 1.2;
}
.home-body-space {
    height: 12px;
}
#home-clutter-texture2 {
    width: 85%;
    display: grid;
    height: 150px;
    align-content: center;
    justify-content: end;
    justify-items: end;
    margin-bottom: 20px;
}
#home-clutter-texture2 svg {
    transition: 0.3s;
}
#home-clutter-texture2 svg:hover {
    box-shadow: 0px 0px 10px 0px white;
}